/* Button to top */

#backTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: $primary-color;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  transition: all 0.3s ease;
  &:hover {
    background: $primary-color;
  }
}

#backTop .fa-arrow-up {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  transition: all 0.3s ease;
  &:hover {
    color: #2a2d34;
    top: 5px;
  }
}
