@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  font-family: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: 5px 10px 18px #888888;
  height: 3rem;
}

.links-bottom {
  display: inline-block;
  padding-bottom: 0.8rem;
  font-size: 0.8rem;
}

/* HEROES - FIRST PICTURE */

.first {
  height: 80vh;
  background: url('/images/image1.jpg') no-repeat center center;
}

/* NAVBAR LINKS */
.link {
  margin-left: 3rem;
  color: #2ed282;
  border-bottom: 4px solid transparent !important;
  transition: 1s;
}

.link:hover {
  color: black !important;
  border-bottom: 4px solid #2ed282 !important;
}

.current {
  color: black !important;
  border-bottom: 4px solid #2ed282 !important;
}

/* FOOTER */
.footer {
  background: #2a2d34;
  margin: 0 !important;
  margin-top: 2rem !important;
}

/* H1 font */

h1 {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-top: 1rem;
}

/* FAQ - Question bar */

.question {
  color: black;
  font-size: 2rem;
}

/* TITLES */

.title {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

/* FOOTER CONTAINER */
.footer.container-fluid {
  padding: 0 !important;
}

.footer a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7rem;
  transition: 1s;
  border-bottom: 3px solid transparent !important;
}

.footer a:hover {
  color: #2ed282;
  border-bottom: 3px solid white !important;
}

/* ICONS - MIDDLE MAIN PAGE */

.schedule {
  padding: 3rem;
  margin-bottom: 3rem;
}

.footer-text {
  margin-top: 2rem;
}

/* Form */

.form {
  border: 1px solid black;
  padding: 1rem;
}

/* Button */

.button {
  color: white;
  background: #2ed282;
  border: none;
  border-radius: 0 !important;
}

.button:hover {
  color: white;
  background: #2ed282;
  border: none;
}

/* Social networks div left */

.social-left {
  border-radius: 8px;
  opacity: 0.9;
  background: #2a2d34;
  position: absolute;
  position: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 160px;
  top: 30%;
  left: -5px;
}

.social-left a {
  padding: 8px 0 8px 0;
  color: #fff;
  font-size: 0.6rem;
  transition: 1s;
}

.social-left a:hover {
  color: #2ed282;
}

/* Dropdown animated */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2212';
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}

/* SLIDER */

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  margin: 0 10px;
}

/* Button to top */

#backTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2ed282;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  transition: all 0.3s ease;
}

#backTop:hover {
  background: #2aa86b;
}

#backTop .fa-arrow-up {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  transition: all 0.3s ease;
}

#backTop .fa-arrow-up:hover {
  color: #fff;
  top: 5px;
}

/* ABOUT */

.about {
  height: 60vh;
  background: url('/images/about.jpeg') no-repeat center -200px;
  z-index: 1;
  opacity: 0.7;
}

.contact {
  height: 70vh;
  background: url('/images/contact.jpeg') no-repeat center center;
  opacity: 0.9;
}

.company {
  height: 70vh;
  background: url('/images/company.jpg') no-repeat center center;
  opacity: 0.9;
}

@media only screen and (max-width: 400px) {
  .contact-body {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 770px) {
  .link {
    border: none !important;
  }
  .link:hover {
    color: black !important;
    border: none !important;
  }
  .contact-body {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1090px) {
  .link {
    border: none !important;
  }
  .link:hover {
    color: black !important;
    border: none !important;
  }
}
