@import 'navbar';
@import 'showcase';
@import 'footer';
@import 'main-content';
@import 'social-box';
@import 'slider';

@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  font-family: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 400px) {
  .contact-body {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 770px) {
  .link {
    border: none !important;
  }
  .link:hover {
    color: black !important;
    border: none !important;
  }
  .contact-body {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1090px) {
  .link {
    border: none !important;
  }
  .link:hover {
    color: black !important;
    border: none !important;
  }
}
